# 7-07-2021

 list= list is an ordered collections of elements enclosed within []
list are mutable(data can be modified)

eg:- l1=[1,"a",true,4.5,"hello]
     l2=["apple","grapes","melon"]
     
     firstindex= l1[0]  # 1
     last index=l1[-1]  # "hello"
     
Extracting individual elements from a list

     l1[1]  # "a"
     
     - sequenceof elements means : it goes according to the index positions
     
list1=["rahul","pankaj","sam",True,False,0,1,3,"hey there"]
     


list1.reverse()   # reverse method

print(list1)

# ['hey there', 3, 1, 0, False, True, 'sam', 'pankaj', 'rahul']

print(list1[0])   # heythere
 
print(list1[2])   #1

list1.insert(0,"testing")

print(list1)


# ['testing','hey there', 3, 1, 0, False, True, 'sam', 'pankaj', 'rahul']

 list1=["a","c","d","b"]

 list1.sort()

 print(list1)

 # ["a,"b","c","d"]

 list1=[2,3,1]
 
 list2=['b','c','a']
 
 list3=list1 + list2
 
 print(list3)
 
 # [2,3,1,"b","c","a"]

In [24]:
list1=["rahul","pankaj","sam",True,False,0,1,3,"hey there"]

In [25]:
list1[0]

'rahul'

In [26]:
list1[-1]

'hey there'

In [27]:
x=len(list1)

In [28]:
x

9

In [30]:
list1=["rahul","pankaj","sam",True,False,0,1,3,"hey there"]
x=len(list1)

for i in range(x):
    print(list1[i])

rahul
pankaj
sam
True
False
0
1
3
hey there

In [2]:
list1=["rahul","pankaj","sam",True,False,0,1,3,"hey there"]

In [3]:
print(list1)

['rahul', 'pankaj', 'sam', True, False, 0, 1, 3, 'hey there']

In [4]:
list1[0:3]

['rahul', 'pankaj', 'sam']

In [5]:
list1.reverse()

In [6]:
print(list1)

['hey there', 3, 1, 0, False, True, 'sam', 'pankaj', 'rahul']

# homework 7-07-2021

In [7]:
a=[1,2,3,4,5]

for num in a:
    print(num)

1
2
3
4
5

In [11]:
a=[1,2,3,4,5]

for num in a:
    if num%2==0:
        print("even",num)
    else:
        print("odd",num)

odd 1
even 2
odd 3
even 4
odd 5

In [11]:
a=[1,2,3,4,5,6]
list1=[]
list2=[]

for num in a:
    if num%2==0:
        list1.append(num)
    else:
        list2.append(num)

print("even list",list1)
print("odd list",list2)

even list [2, 4, 6]
odd list [1, 3, 5]

In [12]:
list1.insert(0,"testing")
print(list1)

['testing', 2, 4, 6]

In [27]:
list1=[]
list2=[]
list3=[]

for num in range(0,50):
    if num%3==0 and num%5==0:
        print(num,"heha")
    elif num%3==0:
        print(num,"haha")
    elif num%5==0:
        print(num,"hehe")

0 heha
3 haha
5 hehe
6 haha
9 haha
10 hehe
12 haha
15 heha
18 haha
20 hehe
21 haha
24 haha
25 hehe
27 haha
30 heha
33 haha
35 hehe
36 haha
39 haha
40 hehe
42 haha
45 heha
48 haha

In [30]:
for num in range(0,50):
    if num<10:
        pass
    elif num>30:
        break
    elif num>10:
        print(num)

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [2]:
sum=0
for num in range(0,11):   #ask sir ki yha pr sum ki value bs loop k liye change ho rhi hai ya globally change ho rhi hai
    sum=sum+num
print(sum)

print(sum+20)

55
75

In [1]:
sum=0
i=0
while i<=10:
    sum=sum+i
    i=i+1
print(sum)

55

In [4]:
list1=[]
for num in range(0,20):
    if num%3==0:
        list1.append(num**2)
    else:
        pass
    
print(list1)

[0, 9, 36, 81, 144, 225, 324]

In [3]:
length=int(input("enter the value of length="))
breadth=int(input("enter the value of breadth="))

if length==breadth:
    print("it is a sqaure")
else:
    print("it is a rectangle")

enter the value of length=4
enter the value of breadth=4
it is a sqaure

In [5]:
marks=int(input("enter the marks of the student"))

if marks>80:
    print("grade A")
elif marks>=60 and  marks<80:
    print("grade B")
elif marks>=50 and marks<60:
    print("grade C")
elif marks>=45 and marks<50:
    print("grade D")
elif marks>=25 and marks<45:
    print("grade E")
else:
    print("grade F")

enter the marks of the student5
grade F

In [8]:
marks=int(input("enter the marks of the student"))

if marks>80:
    print("grade A")
elif marks<=80 and  marks>60:
    print("grade B")
elif marks<=60 and marks>50:
    print("grade C")
elif marks<=50 and marks>45:
    print("grade D")
elif marks<=45 and marks>25:
    print("grade E")
else:
    print("grade F")

enter the marks of the student61
grade B

In [25]:
total_class=50
classes=int(input("enter the no. of classes you have attended="))

if classes<=50:
    if (classes/total_class)*100>=75:
        print("eligible")
    else:
        print("not eligible")
else:
    print("you are lying")

enter the no. of classes you have attended=10
not eligible

In [ ]:
x=0
while x<10:
    print(x)                                                 
    if x==3:
        continue # yha pr continue likhne se wo wapas loop k pass chla jayega w/o incremement so "x" will remain 3 forever
    x=x+1
    
    
# do not run it

In [5]:
list1=[1,2,3,'a']
list2=[]

x=len(list1)

for i in range(x):
    a=x-(i+1)
    list2.append(list1[a])

print(list2)

['a', 3, 2, 1]

In [29]:
list1=[11,12,25,14,1,2,3,"a","c"]

x=len(list1)
print(x)

9

In [32]:
value=int(input("enter the value="))
for i in range(x):
    if list1[i]==value:
        print("yes it is present ")
        print("the element present at index position",i)
        
    else:
        pass

enter the value=1
yes it is present
the element present at index position 4

Q. removing duplacte items in a list

In [10]:
list1=[1,1,2,2,3,5,7]
x=len(list1)
print(x)

7

In [13]:
# a=-1
# list2=[].
# for i in range(x):
#     for c in range(x):
#         if list1[(c+1)-x]==list1[i]:
#             list2.append(list1[i])
#         else:
#             pass
            
# print(list2)

[1, 1, 1, 1, 2, 2, 2, 2, 3, 5, 7]

In [5]:
list1=[1,2,4,5]
for num in list1:
    print(list1[0])

1
1
1
1

# 08-07-2021  tcl it

	Set in Python
	
	Set is an unordered and unindexed collection of elements enclosed with{}
	Duplicates are not allowed in Set
	
	s1= {1, 'a', True, 1}
	print(s1) =  {1, 'a'}

	=> Adding a new element
    
		s1.add("Hello")
        
	s1 = {1, 'a', 'Hello', True}	add randomly as Set is unindexed collection

	
    
    => Updating multiple elements
		s1.update({10, 20, 30})
	s1= {1, 'a', 10, 'Hello', 20, 30, True}
	
	=> Removing element 
		s1.remove("a")
	s1 = {1, True,  'Hello'}

	=> Union of two sets
	s1 = {1,2,3}
	s2 = {'a', 'b', 'c'}
		s1.union(s2)
	{1,2,3,'a','b','c'}

	=> intersection of two sets :
	s1 = {1,2,3,4,5,6}
	s2 = {5,6,7,2,1}
	
	s1.intersection(s2)
	{1,5,6}

In [9]:
s1={1,"a",True,1}
print(s1)

{1, 'a'}

In [10]:
s1.add("hello")
print(s1)

{1, 'hello', 'a'}

In [15]:
s1.update({10,20,30,45})
print(s1)

{1, 10, 45, 20, 'hello', 30}

In [17]:
s1.remove(20)

In [18]:
print(s1)

{1, 10, 45, 'hello', 30}

# sets

sets in python

set is an unordered and unindexed collection of elements enclosed with {} 
Duplicates are not allowed in sets

In [3]:
s1={False,2,1,"a",True,1}

In [4]:
print(s1)

{False, 1, 2, 'a'}

In [33]:
s1={False,True,2,1,"a",1}

In [34]:
print(s1)

{False, True, 2, 'a'}

# most imp line***

False is equivalent to 0 and True is equivalent to 1. In this set, {False,2,1,"a",True,1}, since you have a 1 before the True, the True and the last one are both eliminated as being duplicates. If you put the True first, then it stays in, and both ones are eliminated.

# adding a new element   [add method]

In [12]:
s1.add("hello")

In [13]:
print(s1)

{False, True, 2, 'a', 10, 20, 'hello', 30}

# updating multiple elements   [ update method ]

In [14]:
s1.update({10,20,30})

In [15]:
print(s1)

{False, True, 2, 'a', 10, 20, 'hello', 30}

# removing elements  [remove method]

In [16]:
s1.remove("a")

In [17]:
print(s1)

{False, True, 2, 10, 20, 'hello', 30}

# union of two sets  [union method]

In [21]:
s1={1,2,3}
s2={"a","b","c"}

In [22]:
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

# intersections of two sets

In [25]:
s1={1,2,3,4,5,6}
s2={5,6,7,2.1}

In [26]:
s1.intersection(s2)

{5, 6}

# 09-07-2021  tcl it

In [1]:
list1 = [4,5,6,67,7,4,5]

# for i in range(len(list1)):
#     for j in range(i+1, len(list1)):
#         if list1[i]==list1[j]:
#             print(list1[j])

myset =set(list1)
print(myset)

newList = list(myset)
print(newList)

{67, 4, 5, 6, 7}
[67, 4, 5, 6, 7]

# 13-07-2021  tclit

data structure in python :
list
1) tuples
2) list -sequence ,duplicates allowed
3) dictionary
4) set-  non sequence , duplicates are not allowed


list1=[4,5,6,7,8,8]
myset=set(list1)
print(myset)={4,5,6,7,8}

# Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items:

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered:
    
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable:

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates:

Since tuples are indexed, they can have items with the same value:

In [25]:
list1=[1,2,3,4,5,6,6]

In [26]:
x=tuple(list1)

In [27]:
print(x)

(1, 2, 3, 4, 5, 6, 6)

In [28]:
x.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [10]:
x.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
print(x)

(1, 2, 3, 4, 5, 6, 6)

In [13]:
print(x[0])

1

In [15]:
print(x[2])

3

In [16]:
x[0]=5
print(x)

TypeError: 'tuple' object does not support item assignment

In [18]:
print(len(x))

7

In [20]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [21]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

Tuple Items - Data Types

Tuple items can be of any data type

In [22]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [23]:
print(tuple1*2)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [36]:
x=tuple1+tuple2+tuple3

In [37]:
print(x)

('apple', 'banana', 'cherry', 1, 5, 7, 9, 3, True, False, False)

In [38]:
print(type(x))

<class 'tuple'>

In [33]:
print(x)

('apple', 'banana', 'cherry', 1, 5, 7, 9, 3, True, False, False)

In [40]:
print(x[0])

apple

In [42]:
print(x[-1])

False

In [43]:
print(x[-5])

9

In [44]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [6]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [7]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [8]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [9]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-7:-4])

('apple', 'banana', 'cherry')

In [10]:
color={'green':10,"black":25,"key3":23}

In [11]:
print(color)

{'green': 10, 'black': 25, 'key3': 23}

In [12]:
color['green']

10

In [13]:
print(color['black'])

25

In [14]:
print(color["green"])

10

In [1]:
data=[{"name": "pankaj" , "age": 25, "emp_id":12003},
       {"name": "ajay" , "age ":18 ,"emp_id":120005},
       {"name ":"himanshu","age":25 ,"emp_id":120056}]

In [2]:
print(data[0])

{'name': 'pankaj', 'age': 25, 'emp_id': 12003}

In [5]:
print(data[0]["name"])

pankaj

In [6]:
print(data[0]["emp_id"])

12003

# dictionary :


	Dictionary =>

 	Dictionary is an ordered collection of key-value pairs enclosed with{}
	it is mutable
	
	eg:-	color = {'Green': 10, 'Black': 5, 'White':15}
				empData=[
						{'emp_name': abc, emp_id:111, },
						{'emp_name': xyz, emp_id:211},
						{'emp_name': mnb, emp_id:311},
					   ]

		empData[0].emp_name  // abc
	
	=> Extract keys and value 
		Extracting keys :-
			color.keys()
			//result=dict_keys(['Green', 'Black', 'White'])
		
		Extracting values
			color.values()
			//result=dict_keys([10,5,15])

	=> Modifying a Dictionary
		=> Adding a new Element
			color['Red' = 12]
			color
		=> changing an existing element
			color['Green'] = 100
			color
		=> update the dictionary
			color1 ={'red'=10, 'black'=20}
			color2= {'white'= 25, 'grey'= 30}
			color1.update(color2)
			color1
			{'red'=10, 'black'=20, 'white'= 25, 'grey'= 30} // color1 updated

		=> pop out the specific key-value pair
			color1.pop('red')
			color1
			{'black'=20}

In [52]:
color={'green':50,"red":52,"yellow":25}

In [53]:
print(color)

{'green': 50, 'red': 52, 'yellow': 25}

In [32]:
color["green"]

50

In [33]:
color.keys()

dict_keys(['green', 'red', 'yellow'])

In [34]:
color.values()

dict_values([50, 52, 25])

In [38]:
color["orange"]=12
print(color)

{'green': 50, 'red': 52, 'yellow': 25, 'orange': 12}

In [56]:
color1={"white":25,"grey":56,"pink":59}
color2={"purple":58,"black":5}

color1.update(color2)
print(color1)

{'white': 25, 'grey': 56, 'pink': 59, 'purple': 58, 'black': 5}

In [57]:
print(color1)

{'white': 25, 'grey': 56, 'pink': 59, 'purple': 58, 'black': 5}

In [58]:
color1.pop("white")

25

In [59]:
print(color1)

{'grey': 56, 'pink': 59, 'purple': 58, 'black': 5}