# for loop and while loop

# prime numbers using break:

In [5]:
num=16
isprime="True"
for i  in range(2,num):
    if num%i==0:
        isprime="False"
        print(isprime,"as",num,"is devided by",i)    
    elif i==2:                           # note : if and elif k case mai jha pr ek baar bhi true mila uske baad aage check he nhi karega
        print("the value of i is 2") 
    print("hii")  # note :- for loop wha tk chalega jha tk uska indentation hai !!!
    

if isprime=="True":
    print("prime")
else:
    print("not prime")

False as 16 is devided by 2
hii
hii
False as 16 is devided by 4
hii
hii
hii
hii
False as 16 is devided by 8
hii
hii
hii
hii
hii
hii
hii
hii
not prime

# The break keyword is used to break out a for loop, or a while loop.

In [2]:
for i in range(1,5):  # for and while loops wha tk chalenge jha tk unka indentation level hai
    print(i)
    if i==3:   # and if condition tabhi chalegi jb wo true hogi
        
        break

1
2
3

In [3]:
i=1
n=int(input("enter the number upto which you want to print"))

while i<=n:
    print(i)
    i=i+1
print("end of the day the i will ended up having value=",i,"so loop will run",i,"times")

enter the number upto which you want to print15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
end of the day the i will ended up having value= 16 so loop will run 16 times

In [1]:
i=1
n=int(input("enter the number upto which you want to print"))

while n>=i:
    print(n)
    n=n-1

enter the number upto which you want to print10
10
9
8
7
6
5
4
3
2
1

In [5]:
n=int(input("enter the number your want the sum upto"))
sum=0
i=1
while n>=i:
    sum=sum+i
    i=i+1
print(sum)

enter the number your want the sum upto12
78

# Q.program to find sum of square of first n natural numbers

In [6]:
n=int(input("enter the number upto which you want the sum ="))
sum=0
while n>=1:
    sum=sum+n
    n=n-1
print("sum is",sum)

enter the number upto which you want the sum =56
sum is 1596

In [7]:
n=int(input("enter the number you"))
sum=0
while n>=1:
    sum=sum+n*n
    n=n-1
print("sum of squares is ",sum)

enter the number you58
sum of squares is  66729

# Q. print even numbers from 1 to n

In [8]:
n=int(input("enter the numbers upto which you want to find the even numbers"))
i=1
while i<=n:
    if i%2==0:
        print("even number is",i)
    else:
        print("odd number is",i)
    i=i+1

enter the numbers upto which you want to find the even numbers12
odd number is 1
even number is 2
odd number is 3
even number is 4
odd number is 5
even number is 6
odd number is 7
even number is 8
odd number is 9
even number is 10
odd number is 11
even number is 12

# Q. program to find the sum of even numbers from 1 to n.

In [9]:
n=int(input("enter the numbers upto which you want to find the even numbers="))
i=1
sum=0

while i<=n:
    if i%2==0:
        sum=sum+i
    i=i+1
print("sum is ",sum)

enter the numbers upto which you want to find the even numbers=23
sum is  132

# Q. to find sum of n even numbers.

In [10]:
n=int(input("enter the numbers upto which you want to find the even numbers="))
i=1
sum=0

while i<=n*2:
    if i%2==0:
        sum=sum+i
    i=i+1
print("sum is ",sum)

enter the numbers upto which you want to find the even numbers=55
sum is  3080

# Q. sum of digits of a given number.

In [11]:
n=int(input("enter the number ="))
sum=0
while n>0:
    sum=sum+n%10
    n=n//10
print("the sum is ",sum)

enter the number =14
the sum is  5

# Q. multiplication of digits of a given number.

In [12]:
n=int(input("enter the number "))
product=1
while n>0:
    product=product*n%10
    n=n//10
print("product is",product)

enter the number 56
product is 0

# Q.square of digits of a given number.

In [13]:
n=int(input("enter the number"))
sum=0

while n>0:
    sum=sum+(n%10)**2
    n=n//10
print("sum of squares is ",sum)

enter the number26
sum of squares is  40

# Q.cube of digits of a given number.

In [14]:
n=int(input("enter the number"))
sum=0

while n>0:
    sum=sum+(n%10)**3
    n=n//10
print("sum of squares is ",sum)

enter the number558
sum of squares is  762

# Q. Armstrong number

In [15]:
n=int(input("enter the number"))
org=n
sums=0
while n>0:
    sums=sums+(n%10)*(n%10)*(n%10)
    n=n//10
if sums==org:
    print("it is an armstrong number")
else:
    print("not armstrong")

enter the number225
not armstrong

In [16]:
n=12231
x=str(n)

if str(n)==x[::-1]:
    print("pallindrome")
else:
    print("not a palindrome")

not a palindrome

# Q.sum and products of digits

In [17]:
n=int(input("enter the number"))
sum=0
product=1
while n>0:
    sum=sum+n%10
    product=product*(n%10)
    n=n//10
    
print("sum is",sum )
print("product is ",product)

enter the number125
sum is 8
product is  10

# Q.sum of even and products of odd digits

In [18]:
n=int(input("enter the number="))
sum=0
product=1
while n>0:
    x=n%10
    if x%2==0:
        sum=sum+x
    else:
        product=product*(x)
    n=n//10
    
    
print("sum  of even is",sum )
print("product of odd is ",product)

enter the number=15
sum  of even is 0
product of odd is  5

# Q.handsome number

In [19]:
n=int(input("enter the number "))
sum=0

while n>0:
    sum=sum+(n%10)
    print("required sum we need",sum)
    break
n=n//10
print("we need sum of the digits in=",n)
z=0
while n>0:
        z=z+(n%10)
        n=n//10

if z==sum:
    print("yes it is a handsome number ")
else:
    print("not a handsome number")

enter the number 26
required sum we need 6
we need sum of the digits in= 2
not a handsome number

# sum of 1st 10 natural numbers

In [ ]:
i=1
a=0
while(i<=10):
    a=a+i
    i=i+1
print(a)

# sum of 1st 10 natural numbers

In [21]:
i=1
a=0
while(i<=10):
    a=a+i
    print(a)
    i=i+1

1
3
6
10
15
21
28
36
45
55

# multiplication of 1st 10 natural numbers

In [22]:
i=1
a=1
while(i<=10):
    a=a*i
    print(a)
    i=i+1

1
2
6
24
120
720
5040
40320
362880
3628800

# multiplication of 1st 10 natural numbers

In [23]:
i=1
a=1
while(i<=10):
    a=a*i
    i=i+1
print(a)

3628800

# prime number program NEVER DO IT LIKE THIS !!:

In [ ]:
a=17
i=1
counter=0

while i<=a:
    if a % i==0:
        counter=counter+1
        i=i+1   # it means agar if ki value true hogi tabhi i ko badana
        
if counter==2:
    print("prime")
else:
    print("not prime")

# prime number program

In [ ]:
a=17
i=1
counter=0

while i<=a:
    if a % i==0:
        counter=counter+1
    i=i+1                                # important point, so to increase i it must be done inside while loop not inside if statement.
    
if counter==2:
    print("prime")
else:
    print("not prime")

# fatorial program

In [ ]:
i=0
num=int(input("enter the number"))
factorial=1

while num>i:
    factorial=factorial*(num-i)
    i=i+1
print("factorial is of num =",num,"is",factorial)

# fibonacci series

In [8]:
a=0
b=1
n=int(input("enter the number upto which u want fibonacci series :"))
while n>=0:
    c=a+b
    print(a)
    print(b)

    a=a+b
    b=b+a
    n=n-1

enter the number upto which u want fibonacci series :5
0
1
1
2
3
5
8
13
21
34
55
89

# pattern in nested loops

In [10]:
i=1
while i<5:
    j=1
    while j<5:
        print(j)
        j=j+1
    print()
    i=i+1

1
2
3
4

1
2
3
4

1
2
3
4

1
2
3
4

In [18]:
i=1
n=int(input("enter the value rows you want to print="))
while i>=1:
    j=1
    while j<n+1:
        print(j*"*")
        j=j+1
    print()
    i=i-1

enter the value rows you want to print=5
*
**
***
****
*****

In [24]:
str(2)+str(3)

'23'

In [51]:
" "*10

'          '

# PATTERNS :

Q.1
  12
  123
  1234
  12345

In [31]:
n=int(input("enter the number of row upto which u want to print"))
i=1
z=""
while i>0:
    j=0
    while j<n:
        z=z+str(j+1)
        print(z)
        j=j+1
    i=i-1

enter the number of row upto which u want to print5
1
12
123
1234
12345

Q.1
  22
  333
  4444
  55555

In [17]:
n=int(input("enter the number of row upto which u want to print="))
i=1
z=""
while i>0:
    j=0
    while j<n:
        z=str(j+1)
        print(z*(j+1))
        j=j+1
    i=i-1

enter the number of row upto which u want to print=5
1
22
333
4444
55555

In [10]:
n=int(input("enter the number ="))
a=n
c=a+n
sum=""
z=1
while z>0:
    i=1
    while i<= c:
        sum=sum+str(i)
        print((c-6)*"*",sum)
        i=i+1
        c=c-1
    z=z-1

enter the number =5
**** 1
*** 12
** 123
* 1234
 12345

In [26]:
n=int(input("enter the number="))+1
i=1
while i>0:
    c=1
    a=n
    while a>1:
        print((a-1)*"o",c*"*")
        a=a-1
        c=c+1
        if c==n+1:
            break
    i=i-1

enter the number=5
ooooo *
oooo **
ooo ***
oo ****
o *****

In [32]:
i=1
while i<=5:
    b=1
    while b<=5-i:
        print("_ ",end="")
        b=b+1
    j=1
    while j<=i:
        print("*",end="")
        j=j+i
    print()
    i=i+1

_ _ _ _ *
_ _ _ *
_ _ *
_ *
*

In [33]:
for i in range(5):
    print(i)

0
1
2
3
4

In [42]:
x=""
n=int(input("enter the number ="))
for i in range(1,n+1):
    x=x+str(i)
    print(x)

enter the number =5
1
12
123
1234
12345

In [46]:
n=int(input("enter the number ="))
for i in range(1,n+1):
    print(i*"*")

enter the number =5
*
**
***
****
*****

In [66]:
n=int(input("enter the number ="))
for i in range(1,n+1):
    print((n-i)*"o",i*"*")

enter the number =3
oo *
o **
 ***

In [73]:
n=int(input("enter the number ="))
for i in range(1,n+1):
    print((n-i)*" ",i*"*")

enter the number =3
   *
  **
 ***

In [68]:
x=""
n=int(input("enter the number ="))
for i in range(1,n+1):
    x=x+str(i)
    print((n-i)*" ",x)

enter the number =3
   1
  12
 123

In [72]:
x=""
n=int(input("enter the number ="))
for i in range(1,n+1):
    x=str(i)*i
    print((n-i)*" ",x)

enter the number =5
     1
    22
   333
  4444
 55555

In [23]:
n=int(input("enter the no. of rows upto which u want to print "))
b=n
a=1
for i in range(1,n+1):
    print(b*"o",a*"*")
    b=b-1
    a=a+2

enter the no. of rows upto which u want to print 2
oo *
o ***

In [2]:
1*"*"

'*'

In [5]:
for i in range(5):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [20]:
for i in range(5):
    for j in range(n-i):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

# usage of end:

In [11]:
i=4
while i>=1:
    print("pankaj")
    i=i-1

pankaj
pankaj
pankaj
pankaj

In [10]:
i=4
while i>=1:
    print("pankaj")
    i=i-1
    print()

pankaj

pankaj

pankaj

pankaj

In [5]:
i=4
while i>=1:
    print("pankaj",end=" ")
    i=i-1

pankaj pankaj pankaj pankaj

In [4]:
i=4
while i>=1:
    print("pankaj",end=" ")
    i=i-1
    print("*")

pankaj *
pankaj *
pankaj *
pankaj *

In [12]:
i=4
while i>=1:
    print("pankaj",end=" ")
    i=i-1
    print("*",end=" ")

pankaj * pankaj * pankaj * pankaj *

In [90]:
n=int(input("enter the value of n="))       # try with n=1 and c=1
c=int(input("enter the value of c="))

while n>0:
    print("pankaj",end=" ")
    n=n-1
    
while c>0:
    print("kumar",end=" ")
    c=c-1

enter the value of n=1
enter the value of c=1
pankaj kumar

In [19]:
n=int(input("enter the number upto which u want to print"))

for i in range(n):
    for j in range(n-(i+1)):
        print("o",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()

enter the number upto which u want to print5
o o o o *
o o o * *
o o * * *
o * * * *
* * * * *

In [13]:
n=int(input("enter the number upto which u want to print"))

for i in range(n):
    for j in range(n-(i+1)):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print('+')

enter the number upto which u want to print5
        * +
      * * +
    * * * +
  * * * * +
* * * * * +

# pattern

In [48]:
n=int(input("enter the number upto which u want to print="))

for i in range(n):
    for k in range(i):
        print("o",end=" ")
    for j in range(n-i):
        print("*",end=" ")

    print()

enter the number upto which u want to print=5
* * * * *
o * * * *
o o * * *
o o o * *
o o o o *

In [18]:
n=int(input("enter the number upto which u want to print="))

for i in range(n):
    for k in range(n-(i+1)):
        print(" ",end=" ")
    for j in range(2*i+1):
        print("*",end=" ")

    print()

enter the number upto which u want to print=5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [46]:
n=int(input("enter the number upto which u want to print="))

for i in range(n):
    for j in range(i):
        print(" ",end=" ")
    for k in range(n-2*i):
        print("*",end=' ')
    print()

enter the number upto which u want to print=5
* * * * *
  * * *
    *

In [21]:
n=int(input("enter the row upto which u want to print"))
for i in range(n):
    for j in range(1+i):
        print("*",end=" ")
    for k in range(n-(2*i)):
        print("o",end=" ")
    for l in range(1+i):
        print("*",end=" ")
    print()

enter the row upto which u want to print3
* o o o *
* * o * *
* * * * * *

In [19]:
for i in range(5):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [31]:
for i in range(5):
    for j in range(n-i):
        print('*',end=" ")
    print() # j wale loop k khatam hone k baad hame next line mai aana hai i.e after completion of  j in (5-0) so j will run for j=0, j=1,j=2,j=3,j=4 then next line

* * * * *
* * * *
* * *
* *
*

In [26]:
n=int(input("enter the value of n="))
for i in range(n):
    for j in range(i+1):
        print('*',end=" ")
    print()
for k in range(n):
    for j in range(n-k):
        print('*',end=" ")
    print()

enter the value of n=5
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [29]:
n=int(input("enter the value of n="))
c=2
while c>0: 
    for i in range(n):
        for j in range(i+1):
            print('*',end=" ")
        print()
    for k in range(n):
        for j in range(n-k):
            print('*',end=" ")
        print()
    c=c-1

enter the value of n=5
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [32]:
print("pankaj")
print()
print("kumar")

pankaj

kumar

In [1]:
for i in range(5):
    for j in range(i+1):
        print('*',end=" ")
    print('-')

* -
* * -
* * * -
* * * * -
* * * * * -

In [41]:
for i in range(5):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [42]:
n=int(input(" enter the value of n"))
for i in range(n):
    for j in range(n-i):
        print(i+1,end=" ")
    print()

 enter the value of n5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [43]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [49]:
n=int(input(" enter the value of n"))
for i in range(n):
    for j in range(n-i):
        print(j,end=" ")
    print()

 enter the value of n5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [24]:
for i in range(5):
    print("hello")

hello
hello
hello
hello
hello